.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1), #cf23cf)
}

.logo {
    font-size: 60px;
    background: linear-gradient(to right, rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1), #cf23cf);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

}

.logo2 {
    font-size: 30px;
    background: linear-gradient(to right, rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1), #cf23cf);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

}


.loginBtn{
    background: linear-gradient(to right, #ed43ed,#ed43ed
    );
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}



